h1{

   width: 30%;
	margin: auto;
}

section{
	
	width: 70%;
    border: 1px solid black;
    text-align: justify;
	padding: 12px; /* Marge intérieure de 12px */
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	
}

h2{
	width: 20%;
	margin: auto;
	
}
