h1 {
	font-size: 4em;
	color : aqua;
	
}

p{
	font-size: 1em;
	
}


body {

	background-image: url("Images/fond-site.jpg");
    background-size: 100%;
    
    
}
img {

	width: 40px; /* you can use % */
	height: inherit;
}


#matrice {
	border: thin outset black;
	border-radius: 10px;
	 box-shadow: 6px 6px 0px black;
}

#matrice tr th {
	border: thin solid white;
	font-size: 140%;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background-color: #00FFFF;
}

.boutton tr th {
	font-family: 'LearningCurve', Arial, serif;
	border: thin solid #6495ed;
	color : blue;
}

#score{
	
	
	font-size: 5em;
}

.scoreNombre{
	
	font-weight: bold;
	font-size: 130%;
	font-style: italic;
}
